@model IEnumerable<FoodDelivery.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Orders page</h1>

<!--<p>
    <a asp-action="Create">Create New</a>
</p>-->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> | taip pat manrods nereikia edit*@
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
              @*  <a asp-action="Delete" asp-route-id="@item.ID">Delete</a> as nezinau ar mums reikia cia delete*@ 
            </td>
        </tr>
}
    </tbody>
</table>
